@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500&display=swap");
@import "./utils/variables";
@import "./base/base";
@import "./components/components";
@import "./components/cards";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/containers";
@import "./layouts/pics";
.container1 {
  font-weight: 100;
}
.container2 {
  font-weight: 300;
  font-size: 1.1em;
}
