@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "sans-serif";
  margin: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

.i__text {
  margin-left: 1em;
}
.i__text--s {
  margin-left: 0.5em;
}

h1, h2, h3 {
  margin: 0;
}

.number {
  color: #e9e9e9;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  margin: 0;
  position: relative;
  top: 3em;
}

.new {
  display: block;
  background-color: #99e2d0;
  color: #278870;
  margin: 0;
  padding: 0.5em;
  width: 4em;
  height: 1em;
  position: relative;
  top: 1em;
  left: 15.5em;
}

.filter {
  fill: #fff;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 16em;
  margin-bottom: 1em;
  overflow: hidden;
  box-shadow: 1em 1em 1em #ddd;
  border-radius: 1em;
}
.card__body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card__body p {
  margin: 0.5em;
}
.card__body img {
  object-fit: cover;
  width: 100%;
  height: 180px;
}
.card__mask {
  color: #2a947a;
  background-color: #99e2d0;
  padding: 0.5em;
  height: 2em;
  width: 5em;
  position: relative;
  left: 260px;
  top: 40px;
  border-radius: 2px;
  font-size: 0.9em;
}
.card__footer {
  background-color: #fff;
  padding: 0.75em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card__footer h3,
.card__footer p {
  margin: 0.25em;
}
.card__footer i {
  font-size: 1.5em;
  vertical-align: middle;
}

.button {
  border: none;
}
.button__reserv {
  background: linear-gradient(0deg, #9356dc, #ff79da);
  color: #e9e9e9;
  height: 3em;
  padding: 0 1.5em;
  border-radius: 1.5em;
  font-size: 1em;
  font-weight: 200;
  margin-bottom: 3em;
}

.selector {
  display: flex;
  flex-direction: row;
  align-content: baseline;
  padding: 1.5em;
  background-color: #f1f1f1;
  box-shadow: 0.25em 0.25em 1em #c3c3c3;
  border-radius: 1.25em;
}
.selector__func {
  width: 97%;
  margin-left: 3%;
}
.selector__func .fas {
  color: #767676;
  font-size: 1.25em;
  margin-left: 1em;
}
.selector__func:hover {
  background-color: rgba(147, 86, 220, 0.2);
}
.selector__func:hover .fas {
  color: #9356dc;
}
.selector__menu {
  margin-bottom: 1em;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header #brand {
  padding: 1.25em 0 0.5em 0;
  box-shadow: 0 2px 5px #c3c3c3;
}
header #brand .logo {
  width: 10em;
  height: auto;
}
header #brand .fa-arrow-left {
  font-size: 1.25em;
  position: absolute;
  left: 1em;
  top: 1em;
  color: #434343;
}

.footer {
  background-color: #373737;
  color: #fff;
  padding: 1em;
}
.footer__logo {
  font-family: "Shrikhand";
  font-size: 1.2em;
  color: #fff;
  margin: 0;
}
.footer ul {
  margin-top: 0.5em;
}
.footer ul li {
  line-height: 1.5em;
}
.footer ul .fas::before {
  font-size: 0.75em;
  width: 1em;
}

header,
#localisation,
#reservation {
  text-align: center;
}

#localisation,
#fonctionnement,
#reservation,
#restaurants {
  padding: 1em;
}

#brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#localisation {
  background-color: #e1e1e1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#reservation {
  background-color: #e9e9e9;
  margin-bottom: 1em;
}
#reservation .reserv__title {
  font-weight: 100;
  width: 15em;
  margin: auto;
}
#reservation .reserv__subtitle {
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 2em;
}

#fonctionnement {
  background-color: #fff;
  margin-bottom: 1em;
}
#fonctionnement h2 {
  margin-bottom: 0.5em;
}

#restaurants {
  background-color: #e9e9e9;
}

.menu {
  padding: 1em;
  border-radius: 3em 3em 0 0;
  background-color: #e9e9e9;
  position: relative;
  top: 1.5em;
  margin-top: -5em;
}
.menu__title {
  font-family: "Shrikhand";
  font-size: 1.75em;
}

.restaurant__pic {
  object-fit: cover;
  width: 100%;
  height: 275px;
}

/*# sourceMappingURL=styles.css.map */
