//components
.number {
  color: $background-color;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  margin: 0;
  position: relative;
  top: 3em;
}
.new {
  display: block;
  background-color: $color-tertiary;
  color: darken($color-tertiary, 40%);
  margin: 0;
  padding: 0.5em;
  width: 4em;
  height: 1em;
  position: relative;
  top: 1em;
  left: 15.5em;
}
.filter {
  fill: #fff;
}
