.like {
  &__icon {
    transition-duration: 500ms;
    @include pseudo;
    mix-blend-mode: lighten;
    &--white {
      background-color: #fff;
    }
    &--gray {
      background-color: $background-color;
    }
  }
  &::before {
    opacity: 0;
    transition: 500ms;
    @include pseudo;
    @include purple-gradient(1);
  }
  &:hover {
    &::before {
      opacity: 1;
    }
    .like--light {
      opacity: 0;
    }
  }
}
