.like {
  &__icon {
    @include pseudo;
    mix-blend-mode: lighten;
    @include bg-choose;
    transition-duration: 500ms;
  }
  &::before {
    opacity: 0;
    transition: 500ms;
    @include pseudo;
    @include purple-gradient(1);
  }
  &:hover {
    &::before {
      opacity: 1;
    }
    .like--light {
      opacity: 0;
    }
  }
}
