.plate {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4.5em;
  margin-bottom: 1em;
  border-radius: 1.25em;
  overflow: hidden;
  box-shadow: 5px 5px 5px darken($background-color, 5%);
  background-color: lighten($background-color, 5%);
  cursor: pointer;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    width: 80%;
    
    h3 {
      font-size: 1.2em;
    }
    p {
      font-weight: 200;
    }
    h3,
    p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__slider {
    display: flex;
    position: absolute;
    right: -4em;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    padding: 1em;
  }
  &__check {
    position: absolute;
    right: -4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 1.25em 1.25em 0;
    background-color: $color-tertiary;
    color: #fff;
    height: 4.5em;
    width: 4em;
    transition: all 400ms ease-in-out;

    i {
      display: block;
      font-size: 1.25em;
      transition: all 600ms ease-in-out;
      transition-delay: 100ms;
      transform: rotate(-180deg);
    }
  }
  &:hover {
    & + .plate__slider {
      right: 5em;
    }
    & + .plate__slider > i {
      transform: rotate(0deg);
    }
  }
}
