.steps {
  counter-reset: compteListe;
  @include desktop-only {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.step {
  display: flex;
  flex-direction: row;
  align-content: baseline;
  position: relative;
  margin-bottom: 1em;
  margin-left: 1em;
  padding: 1.75em;
  box-shadow: 0 5px 8px darken($background-color, 5%);
  border-radius: 1.25em;
  font-weight: 500;
  background-color: $background-color;
  @include desktop-only {
    width: 30%;
  }
  i::before {
    color: darken($background-color, 45%);
    font-size: 1.1em;
    margin: 0 1em;
  }
  &::before {
    counter-increment: compteListe;
    content: counter(compteListe) "";
    display: flex;
    justify-content: center;
    align-items: center;
    //align-content: baseline;
    position: absolute;
    left: -0.9em;
    color: $background-color;
    background-color: $color-primary;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    margin: 0;
  }
  &:hover {
    background-color: rgba($color-primary, 0.2);
    i::before {
      color: $color-primary;
    }
  }
}
