//general__settings
* {
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
}

body {
  margin: 0;
  
}
a {
  text-decoration: inherit;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
}
.i__text {
  margin-left: 1em;
  &--s {
    margin-left: 0.5em;
  }
}
h1,
h2,
h3 {
  margin: 0;
}
