* {
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
}
/*body{
  @include widescreen-only {
    height: 50vh;
  }
}*/

body,
.reserv,
.function,
.restos {
  width: 100vw;
  margin: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  border: none;
}

