
* {
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
}
// test scroll
html,
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

// test scroll end

.reserv,
.function,
.restos {
  max-width: 100%;
  margin: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  border: none;
}
