//containers
.header,
.local,
.reserv {
  text-align: center;
}

.local,
.function,
.reserv,
.restos {
  padding: 1.1em;
}

.brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.local {
  @include gray-scale(3%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: inset 0 2px 5px darken($background-color, 15%);
  color: lighten(#000, 25%);
  font-weight: 500;
  &__input {
    @include gray-scale(3%);
    border: none;
    font-weight: 500;
    width: 8em;
  }
  i {
    margin-right: 0.75em;
  }
}
.reserv {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    font-size: 1.5em;
    font-weight: 600;
    width: 10em;
    margin: 1em auto 0.5em auto;
    @include mobile-only {
      width: auto;
    }
  }
  &__subtitle {
    font-weight: 300;
    font-size: 1.1em;
    color: lighten(#000, 30%);
  }
}

.function {
  background-color: #fff;
  padding: 2em 1em;
  /*@include desktop-only {
    padding: 2em 15%;
  }*/
  @include widescreen-only {
    min-width: 70%;
    padding: 2em 17.5%;
  }
  h2 {
    margin-bottom: 1em;
    margin-top: 0.5em;
  }
}

.restos {
  background-color: $background-color;
  position: relative;
  padding-bottom: 2em;
  @include desktop-only {
    padding: 2em 15%;
    padding-bottom: 3em;
  }
  @include widescreen-only {
    padding: 1em 17.5%;
    padding-bottom: 3em;
  }
  h2 {
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
}

.steps {
  counter-reset: compteListe;
  @include desktop-only {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.step {
  display: flex;
  flex-direction: row;
  align-content: baseline;
  position: relative;
  margin-bottom: 1em;
  margin-left: 1em;
  padding: 1.75em;
  box-shadow: 0 5px 8px darken($background-color, 5%);
  border-radius: 1.25em;
  font-weight: 500;
  background-color: $background-color;
  @include desktop-only {
    width: 30%;
  }
  transition: opacity 750ms ease-in-out;
  i::before {
    color: darken($background-color, 45%);
    font-size: 1.1em;
    margin: 0 1em;
  }
  &::before {
    counter-increment: compteListe;
    content: counter(compteListe) "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -0.9em;
    color: $background-color;
    background-color: $color-primary;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    margin: 0;
  }
  &::after {
    @include pseudo;
    background-color: rgba($color-primary, 0.2);
    border-radius: 1.25em;
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
    i::before {
      color: $color-primary;
    }
  }
}
