@media only screen and (min-width: 321px) and (orientation: landscape) {
  .reserv__title {
    width: auto;
  }
  .fa-stack {
    position: absolute;
    top: -35px;
    left: 556px;
    font-size: 1.4em;
  }
}
