//loading-spinner
@keyframes vanish {
  0% {
    transform: translateY(0%);
  }
  93% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.8;
  }
}

@keyframes rotate-inv {
  0% {
    transform: rotate(0);
    animation-timing-function: ease-in-out;
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-360deg);
    opacity: 0.8;
    animation-timing-function: ease-in-out;
  }
}

//menu
@keyframes menu-appear {
  0% {
    //transform: 0;
    opacity: 0;
  }

  100% {
    //transform: 0;
    opacity: 1;
  }
}

/*@keyframes plate-appear {
  0% {
    transform: 0;
    opacity: ;
  }
  10% {
    transform: ;
    opacity: ;
  }
  20% {
    transform: ;
    opacity: ;
  }
  30% {
    transform: ;
    opacity: ;
  }
  40% {
    transform: ;
    opacity: ;
  }
  45% {
    transform: ;
    opacity: ;
  }
  50% {
    transform: ;
    opacity: ;
  }
  55% {
    transform: ;
    opacity: ;
  }
  60% {
    transform: ;
    opacity: ;
  }
  70% {
    transform: ;
    opacity: ;
  }
  80% {
    transform: ;
    opacity: ;
  }
  90% {
    transform: ;
    opacity: ;
  }
  100% {
    transform: ;
    opacity: 1;
  }
}*/
