//loading-spinner
@keyframes vanish {
  0% {
    transform: translateY(0%);
  }
  93% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.8;
  }
}

@keyframes rotate-inv {
  0% {
    transform: rotate(0);
    animation-timing-function: ease-in-out;
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-360deg);
    opacity: 0.8;
    animation-timing-function: ease-in-out;
  }
}

//menu
@keyframes item-appear {
  from {
    transform: translateY(1em);
    margin-bottom: 3em;
    opacity: 0;
  }
  to {
    transform: translateY(0em);
    //margin-bottom: 1em;
    opacity: 1;
  }
}
