@mixin pseudo {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin purple-gradient($alpha) {
  background: linear-gradient(
    350deg,
    rgba($color-primary, $alpha) 15%,
    rgba($color-secondary, $alpha) 85%
  );
}

/*@mixin btn-size($size) {
  width: $size;
  height: $size/4.5;
  border-radius: size/2;
}*/

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gray-scale($lightness){
  background-color: darken($background-color, $lightness);
}