//paint
@mixin purple-gradient($alpha) {
  background: linear-gradient(
    350deg,
    rgba($color-primary, $alpha) 15%,
    rgba($color-secondary, $alpha) 85%
  );
}

@mixin gray-scale($lightness) {
  background-color: darken($background-color, $lightness);
}

//layout
/* ? */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin pseudo {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin bg-choose {
  @each $color, $value in $backgrounds {
    &--#{$color} {
      background-color: $value;
    }
  }
}

//animation
 
$transition-delay: 200ms;
@mixin delay {
  @for $i from 1 through 10 {
    &.delay#{$i}{
      animation: menu-appear 1s ease-in-out (#{$i * $transition-delay});
    }
  }
}

//responsive
@mixin mobile-only {
  @media screen and (min-width: map-get($breakpoints, mobile)) and (orientation: landscape) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

@mixin widescreen-only {
  @media screen and (min-width: map-get($breakpoints, widescreen)) {
    @content;
  }
}
