//colors
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$background-color: #f6f6f6;
$color-white: #fff;

//gradient
$purple-gradient: linear-gradient(
  350deg,
  $color-primary 0%,
  $color-secondary 85%
);

//map
$breakpoints: (
  mobile: 321px,
  tablet: 768px,
  desktop: 1280px,
  widescreen: 1440px,
);
