//containers
header,
.local,
.reserv {
  text-align: center;
}

.local,
.function,
.reserv,
.restos {
  padding: 1.1em;
}

.brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.local {
  background-color: darken($background-color, 3%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: inset 0 2px 5px darken($background-color, 15%);
  color: lighten(#000, 25%);
  font-weight: 500;
  i {
    margin-right: 1em;
  }
}
.reserv {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    font-size: 1.5em;
    font-weight: 600;
    width: 10em;
    margin: 1em auto 0.5em auto;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 1.1em;
    color: lighten(#000, 30%);
  }
}

.function {
  background-color: #fff;
  padding: 2em 1em;
  h2 {
    margin-bottom: 1em;
    margin-top: 0.5em;
  }
}


.restos {
  background-color: $background-color;
  position: relative;
  h2 {
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
  &:nth-child {
    margin-bottom: 0;
  }
}

.resto {
  padding: 1em;
  background-color: darken($background-color, 1%);
  z-index: 2;
  position: relative;

&__pic {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 40vh;
    min-height: 17em;
    z-index: 1;
}
  &__name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5em;
    border-radius: 2em 2em 0 0;
    background-color: #f3f3f3;
    z-index: 2;
    margin-top: -3em;
    position: relative;
    h1 {
      font-family: "Shrikhand";
      font-size: 1.5em;
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
    &::after {
      content: "";
      display: block;
      background-color: $color-tertiary;
      width: 2.5em;
      height: 2.5px;
      margin-top: 0.2em;
      margin-bottom: 0.5em;
    }
  }
}

.card__container {
  display: grid;
  gap: 1em;
}




    