//containers
.header,
.local,
.reserv {
  text-align: center;
}

.local,
.function,
.reserv,
.restos {
  padding: 1.1em;
}

.brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.local {
  @include gray-scale(3%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: inset 0 2px 5px darken($background-color, 15%);
  color: lighten(#000, 25%);
  font-weight: 500;
  &__input {
    @include gray-scale(3%);
    border: none;
    font-weight: 500;
    width: 7.5em;
  }
  i {
    margin-right: 0.75em;
  }
}
.reserv {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    font-size: 1.5em;
    font-weight: 600;
    width: 10em;
    margin: 1em auto 0.5em auto;
    @include mobile-only {
      width: auto;
    }
  }
  &__subtitle {
    font-weight: 300;
    font-size: 1.1em;
    color: lighten(#000, 30%);
  }
}

.function {
  background-color: #fff;
  padding: 2em 1em;
  @include desktop-only {
    padding: 2em 15%;
  }
  @include widescreen-only {
    min-width: 70%;
    padding: 2em 17.5%;
  }
  h2 {
    margin-bottom: 1em;
    margin-top: 0.5em;
  }
}

.restos {
  background-color: $background-color;
  position: relative;
  @include desktop-only {
    padding: 2em 15%;
  }
  @include widescreen-only {
    padding: 1em 17.5%;
  }
  h2 {
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
  &:nth-child {
    margin-bottom: 0;
  }
}

.resto {
  padding: 1em;
  @include gray-scale(1%);
  z-index: 2;
  position: relative;
  &__pic {
    object-fit: cover;
    width: 100%;
    height: 40vh;
    min-height: 17em;
    z-index: 1;
  }
  &__name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5em;
    border-radius: 2em 2em 0 0;
    background-color: #f3f3f3;
    z-index: 2;
    margin-top: -3em;
    position: relative;
    @include widescreen-only {
      padding: 1em 15%;
    }
    h1 {
      font-family: "Shrikhand", cursive;
      font-size: 1.5em;
    }
  }

  .menu {
    @include desktop-only {
      display: grid;
      grid-template: 1fr / repeat(3, 30.75%);
      gap: 3em;
    }
    @include widescreen-only {
      padding: 1em 15%;
    }
    s &__catego {
      margin-bottom: 2em;
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
    &::after {
      content: "";
      display: block;
      background-color: $color-tertiary;
      width: 2.5em;
      height: 2.5px;
      margin-top: 0.2em;
      margin-bottom: 0.5em;
    }
  }
}
