.footer {
  background-color: darken($background-color, 70%);
  color: #fff;
  padding: 1em;margin-top: 1em;
  &__logo {
    font-family: "Shrikhand";
    font-size: 1.2em;
    color: #fff;
    margin: 0;
  }
  ul {
    margin-top: 0.5em;
    li {
      line-height: 1.5em;
    }
    .fas::before {
      font-size: 0.75em;
      width: 1em;
    }
  }
}
