.footer {
  background-color: darken($background-color, 70%);
  color: #fff;
  padding: 1em;
  margin-bottom: 0;
  &__logo {
    font-family: 'Shrikhand', cursive;
    font-size: 1.1em;
    color: #fff;
    margin: 0;
  }
  ul {
    margin-top: 0.5em;
    li {
      line-height: 1.5em;
    }
    .fas::before {
      font-size: 0.75em;
      width: 1em;
    }
  }
  i {
    width: .5em;
    margin-right: .25em;
  }
}
