header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .brand {
    padding: 1.25em 0 .75em 0;
    
    .logo {
      width: 10.5em;
      height: auto;
    }
    .fa-arrow-left {
      font-size: 1.25em;
      position: absolute;
      left: 1.2em;
      top: 1em;
      color: darken($background-color, 65%);
    }
  }
}
