.loading {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  opacity: 0.85;
  z-index: 1000;
  transform: translateY(-100%);
  animation: vanish 3s ease-in-out;
  @include flex-center;
}

.spinner,
.spinner__mask {
  @include flex-center;
  z-index: 1500;
}

body {
  height: 100vh;
  margin: 0;
}

.spinner {
  position: absolute;
  height: $radius;
  width: $radius;
  filter: drop-shadow(0 0 0.5rem $dark-gray);
  &__circle {
    border-radius: 100%;
    background: $gray-gradient;
    overflow: hidden;
    height: $radius;
    width: $radius;
  }
  &__quarter {
    height: $radius / 2;
    width: $radius / 2;
    border-top-right-radius: 100%;
    background: $purple-gradient;
    position: absolute;
    top: 0;
    left: $radius / 2;
    transform-origin: 0% 100%;
    animation: rotate 1.5s linear infinite;
  }
      
  &__mask {
    height: $radius - 3.9em;
    width: $radius - 3.9em;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    font-family: "Shrikhand", cursive;
    font-size: 25px;
    color: $color-primary;
    overflow: hidden;
    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 100%;
      background-color: $color-primary;
      opacity: 0;
      transition: opacity 2s ease-in-out;
    }
    &:hover {
      &::after {
        opacity: 0.3;
      }
    }
  }
  &:hover {
    .spinner__quarter {
      animation: rotate-inv 1.5s linear infinite;
      transform: rotate(90deg);
    }
  }
}